/** Goto http://www.google.com/fonts ( change font) --> **/

@import url('https://fonts.googleapis.com/css?family=Bad+Script');

span {
  -webkit-transition: all 0, 2s ease;
  -moz-transition: all 0, 2s ease;
  -o-transition: all 0, 2s ease;
  -ms-transition: all 0, 2s ease;
  transition: all 0, 2s ease;
  -webkit-filter: drop-shadow( 30px 15px 7.5px blue);
  }